html, body {
    height: 100%;
    width: 100%;
    color: #E0E0E0;
    font-family: sans-serif;
    background-color: #242424;
}

.bg-1, .bg-2 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-1 {
    background-image: url("../img/Crags.png");
    min-height: 100%;
    opacity: 1;
}

.bg-2 {
    background-image: url("../img/Crags.png");
    min-height: 100%;
    opacity: 1;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000000;
}

.caption span.border {
    background-color: #025AA5;
    color: #ffffff;
    padding: 18px;
    font-size: 30px;
    letter-spacing: 3px;
    border-radius: 5px;
}

.dark {
    background-color: rgba(0,0,0,.25);
    color: white;
}

.dark a {
    color: #E0E0E0;
}